In [1]:
# libraries
import pandas as pd # software library written for the Python programming language for data manipulation and analysis.
from bs4 import BeautifulSoup

#for webscraping
import requests

#settings
pd.set_option('display.max_columns', None) # display all columns
import warnings
warnings.filterwarnings('ignore') # ignore warnings

In [2]:
url = 'https://swapi.dev/api/people/'
response = requests.get(url)
response.status_code

200

In [3]:
data = response.json()
type(data)

dict

In [4]:
df = pd.DataFrame(data)
df

,count,next,previous,results
0,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Luke Skywalker', 'height': '172', 'm..."
1,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'C-3PO', 'height': '167', 'mass': '75..."
2,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'R2-D2', 'height': '96', 'mass': '32'..."
3,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Darth Vader', 'height': '202', 'mass..."
4,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Leia Organa', 'height': '150', 'mass..."
5,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Owen Lars', 'height': '178', 'mass':..."
6,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Beru Whitesun lars', 'height': '165'..."
7,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'R5-D4', 'height': '97', 'mass': '32'..."
8,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Biggs Darklighter', 'height': '183',..."
9,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Obi-Wan Kenobi', 'height': '182', 'm..."

In [12]:
data.keys() #retrieves the main keys of the dataset (= names of the columns of the df)

dict_keys(['count', 'next', 'previous', 'results'])

In [22]:
info = data.get("results")  # this prints all the results in the 'results' column and stores them in a list named info

In [8]:
df['results'][0]

{'name': 'Luke Skywalker',
 'height': '172',
 'mass': '77',
 'hair_color': 'blond',
 'skin_color': 'fair',
 'eye_color': 'blue',
 'birth_year': '19BBY',
 'gender': 'male',
 'homeworld': 'https://swapi.dev/api/planets/1/',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['https://swapi.dev/api/vehicles/14/',
  'https://swapi.dev/api/vehicles/30/'],
 'starships': ['https://swapi.dev/api/starships/12/',
  'https://swapi.dev/api/starships/22/'],
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'url': 'https://swapi.dev/api/people/1/'}

In [16]:
df['results'][0]['hair_color']

'blond'

In [24]:
names = [name['name'] for name in info] # create a list with all the names
df_names = pd.DataFrame(names) # create a DF
df_names

                    0
0      Luke Skywalker
1               C-3PO
2               R2-D2
3         Darth Vader
4         Leia Organa
5           Owen Lars
6  Beru Whitesun lars
7               R5-D4
8   Biggs Darklighter
9      Obi-Wan Kenobi

In [28]:
names = [name['name'] for name in info] # create a list with all the names
df_names = pd.DataFrame(names) # create a DF for the names

height = [height['height'] for height in info]
df_height = pd.DataFrame(height)

mass = [mass['mass'] for mass in info]
df_mass = pd.DataFrame(mass)

hair_color = [hair_color['hair_color'] for hair_color in info]
df_hair_color = pd.DataFrame(hair_color)

skin_color = [skin_color['skin_color'] for skin_color in info]
df_skin_color = pd.DataFrame(skin_color)

eye_color = [eye_color['eye_color'] for eye_color in info]
df_eye_color = pd.DataFrame(eye_color)

birth_year = [birth_year['birth_year'] for birth_year in info]
df_birth_year = pd.DataFrame(birth_year)

gender = [gender['gender'] for gender in info]
df_gender = pd.DataFrame(gender)

In [31]:
# Concatenate all the DFs created above
df_final = pd.concat([df_names, df_height, df_mass, df_hair_color, df_skin_color, df_eye_color, df_birth_year, df_gender], axis=1)
df_final

,0,0,0,0,0,0,0,0
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male
4,Leia Organa,150,49,brown,light,brown,19BBY,female
5,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male
6,Beru Whitesun lars,165,75,brown,light,blue,47BBY,female
7,R5-D4,97,32,n/a,"white, red",red,unknown,n/a
8,Biggs Darklighter,183,84,black,light,brown,24BBY,male
9,Obi-Wan Kenobi,182,77,"auburn, white",fair,blue-gray,57BBY,male

In [35]:
# Name the columns
df_final.columns = ['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color', 'birth_year', 'gender']
df_final.head(10)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male
4,Leia Organa,150,49,brown,light,brown,19BBY,female
5,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male
6,Beru Whitesun lars,165,75,brown,light,blue,47BBY,female
7,R5-D4,97,32,n/a,"white, red",red,unknown,n/a
8,Biggs Darklighter,183,84,black,light,brown,24BBY,male
9,Obi-Wan Kenobi,182,77,"auburn, white",fair,blue-gray,57BBY,male

In [40]:
# Pivot
pivot_df = df_final.pivot_table(index = 'name',
                                values = 'eye_color'
                               )
pivot_df

TypeError: agg function failed [how->mean,dtype->object]

# Lab | APIs

In order to use the `Spotify` API (`SpotiPy`), create an account in `Spotify` and follow [these](https://developer.spotify.com/documentation/general/guides/app-settings/) steps.

## Authentication and initializing the API

Save your client ID and your client secret in your preferred way, and read it or load it into the following variables:

In [ ]:
CLIENT_ID = "<introduce your client id>"
CLIENT_SECRET = "<introduce your client secret>"

In [ ]:
CLIENT_ID = "4109b2d9f5014671863bb2df1d1fbdd3"
CLIENT_SECRET = "5cb719fae80c4191a9c0b288f51bfe50"

In [ ]:
# If you havent done so, install the spotipy wrapper
!pip install spotipy

Once you have done it, we will start initializing the API.

In [ ]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

#Initialize SpotiPy with user credentials
sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id=CLIENT_ID,
                                                           client_secret=CLIENT_SECRET))

## Using the search method

Now, let's use the search method by introducing a "query". For example, let's try searching for "Lady Gaga":

In [ ]:
results = sp.search(q='Lady Gaga', limit=50)
results

In [ ]:
results.keys() # We can see that we only have tracks

In [ ]:
results["tracks"].keys() # Let's check the values

In [ ]:
results["tracks"]["href"] # Query we have searched

In [ ]:
results["tracks"]["items"] #items (actual tracks)

In [ ]:
results["tracks"]["limit"]#Limit we have chosen

In [ ]:
results["tracks"]["next"] #link to the next page (next 50 tracks)

In [ ]:
results["tracks"]["offset"] # Actual offset (starting point)

In [ ]:
results["tracks"]["previous"] #Previous search

In [ ]:
results["tracks"]["total"] # Number of matches

## Exploring the tracks

In [ ]:
results["tracks"]["items"][0] # Explore the first song

In [ ]:
results["tracks"]["items"][0].keys() # We will focus on album, artists, id, name, popularity, type and uri

In [ ]:
# Track artists
results["tracks"]["items"][0]["artists"]

In [ ]:
# Track artists names
for artist in results["tracks"]["items"][0]["artists"]:
    print(artist["name"])

In [ ]:
# Track ID
results["tracks"]["items"][0]["id"]

In [ ]:
# Track name
results["tracks"]["items"][0]["name"]

In [ ]:
# Popularity index
results["tracks"]["items"][0]["popularity"]

Spotify songs are identified by either a "url", a "uri", or an "id". 

- The `id` is an alphanumeric code, and it's the nuclear part of the identifier.

- The `uri` contains "spotify:track" before the id. An uri is useful because it can be searched manually in the Spotify app.

- The `url` is a link to the song on the Spotify web player.

In [ ]:
results["tracks"]["items"][0]["uri"]

## Exercise 1: Discovering New Music through Your Favorite Artists

**Objective:** 
Uncover new music by exploring the top tracks of your favorite artists and their related artists.

**Instructions:**

1. **List Your Favorite Artists**:
    - Make a list of your three favorite artists and store it in a variable named `artists`.
    - Example: `artists = ["Los Fabulosos Cadillacs", "Manu Chao", "Muchachito Bombo Infierno"]`.

2. **Fetch Top Tracks**:
    - Write a function named `get_top_tracks`.
    - This function should accept an artist's name and return the name of the first 5 top tracks by that artist.
    - Use the function `get_top_tracks` to get the first 5 top tracks for each artist in your `artists` list and store the results in a new list named `top_tracks_list`.

3. **Discover Related Artists**:
    - Write a function named `find_related_artists`.
    - This function should accept an artist's name and return the names of the first 5 artists related to the provided artist.
    - Store the results in a list named `related_artists_list`.

**Challenge:** 
Combine the above steps to create a playlist that includes the top tracks of your favorite artists and the top tracks of the artists related to them.

**Hint Section for 3. **Discover Related Artists**:**

1. **Getting Artist ID**:
    - Remember that every artist on Spotify has a unique identifier: their `id`. To get the related artists, you first need to fetch the ID of the given artist.
    - Consider using the `sp.search` method to query the artist's name. The method requires a `q` parameter, which is your query (in this case, the artist's name). It also has a `limit` parameter, which specifies the number of tracks it returns. In this case, 1 track is enough, since we just want the artist ID. 
    - Each track in the results has an associated 'artists' field. This field is a list containing details about all artists involved in that track.
   - For most tracks, especially those by a single artist, this list will contain one artist. From this artist's details, you can extract the 'id' field, which is the unique identifier for that artist on Spotify.


3. **Fetching Related Artists**:
    - Once you have the artist's ID, you can use another SpotiPy method to fetch related artists. Think about which SpotiPy method allows you to get related artists using an artist's ID. Here is the documentation link: https://spotipy.readthedocs.io/en/2.22.1/. 
    - This method will return a list of related artists. You'll need to extract the relevant details (artist names) from this list.

4. **Iterating for Multiple Artists**:
    - Once you have a function that returns related artists names for one artist, you can use a list comprehension to apply this function to a list of artist names.

5. **Testing**:
    - Always test your function with one artist name first. Once you're confident it works, then apply it to the entire list.

Remember, the key is to break the problem down into manageable steps. Use the SpotiPy documentation as a resource to understand available methods and their return structures.

In [ ]:
# Your answer here

## Playlists

The `sp.featured_playlists()` method in `spotipy` fetches a list of Spotify's featured playlists at a given moment. These are curated playlists that Spotify often highlights on the platform's homepage. The method provides a snapshot of the playlists that are being promoted or featured by Spotify at the time of the request.

Once you've fetched the featured playlists, you can extract their IDs (and other details).

In [ ]:
sp.featured_playlists() # We get a playlist id of a playlist we like

### Getting a Playlist's Details
To fetch details about a specific playlist, you can use the playlist method. You'll need the playlist's Spotify ID.

In this example, we will use the following playlist id: *37i9dQZF1DXd9zR7tdziuQ*

In [ ]:
playlist_id = "37i9dQZF1DXd9zR7tdziuQ"
playlist = sp.playlist(playlist_id)

In [ ]:
print(playlist['name'])  # Print the playlist's name
print(playlist['description'])  # Print the playlist's description

### Getting Tracks from a Playlist
If you want to get the tracks from a specific playlist, you can use the playlist_tracks method.

In [ ]:
tracks = sp.playlist_tracks(playlist_id)
for track in tracks['items']:
    print(track['track']['name'])  # Print each track's name

### Getting Artists from a Playlist

To extract all the artists from the tracks in a playlist, you'd typically follow these steps:

1. Fetch the playlist's tracks.
2. Iterate through each track.
3. For each track, extract the associated artists.

In [ ]:
# List to store unique artist names
artists_list = []

for track_item in tracks['items']:
    track = track_item['track']
    for artist in track['artists']:
        artist_name = artist['name']
        if artist_name not in artists_list:  # This ensures each artist is added only once
            artists_list.append(artist_name)

print(artists_list)

## Exercise 2: Unraveling the World of Playlists


1. **Featured Exploration**: 
   - Fetch the list of Spotify's current featured playlists. 
   - Extract and display the names and IDs of the top 5 featured playlists.
   
2. **Deep Dive**:
   - Choose any one of the top 5 featured playlists (you can choose the one you personally find most interesting or simply pick one randomly).
   - Fetch and display its name, description, and total track count.

3. **Track-tastic**:
   - Extract and display the names of the first 10 tracks in the chosen playlist.

4. **Artistic Flair**:
   - Create a dictionary where the keys are the names of the first 10 tracks, and the values are lists containing the names of the artists associated with each track.
   - For example: `{"TrackName1": ["Artist1", "Artist2"], "TrackName2": ["Artist3"]}`

In [ ]:
# Your answer here